.container{
	width: 100%;
}


@media screen and (max-width:1800px) {

	#leftNav{
		width: 15%;
		background-color: gray;
		float: left;
	}
	#content{
		width: 66%;
		background-color: orange; 
		float: left;
		margin: 0 5px;
	}
	#rightNav{
		width: 15%;
		background-color: green;
		float: right;

	}
	#showDiv{
		display: none; 
		color:#00A;
		cursor: pointer;
	}
	#hideDiv{
		cursor: pointer;
	}
	#hideDiv span{
		color:red;
	}
}


@media screen and (max-width:767px) {
	#leftNav{
		width: 15%;
		background-color: red;
		float: left;
	}
	#content{
		width: 82%;
		background-color: green; 
		float: left;
		margin: 0 5px;
	}
	#rightNav{
		width: 15%;
		background-color: blue;
		float: right;
		display: none;
	}
	#showDiv{
		display: none; 
		color:#00A;
		cursor: pointer;
	}
	#hideDiv{
		cursor: pointer;
	}
	#hideDiv span{
		color:white;
	}

}

/* 12128373
ELURI   VINOD */